# .gitattributes
# =========================================
# Project: nutri-matic
# =========================================

# =========================================
# CI/CD attributes #
# =========================================
README.md merge=ours
