# .gitattributes
# =========================================
# Project: ccutils
# =========================================

# =========================================
# CI/CD attributes #
# =========================================
README.md merge=ours
