# .gitignore
# =========================================
# Project: nutri-matic/src/nutrimatic/models
# =========================================

# =========================================
# Temperary ignores #
# =========================================
base.py