# .gitignore
# =========================================
# Project: ccutils/src/ccutils/models
# =========================================

# =========================================
# Temperary ignores #
# =========================================
base.py